.nav {
  border: 1px solid black;
  background-color: rgba(248, 88, 248, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  width: 18vw;
  height: 2.5em;
  margin-left: auto;
  margin-top: 20px;
  position: fixed;
  top: 5px;
  left: calc(100% - 360px);
  z-index: 999;
}

.navContainer {
  display: flex;
}
